<!-- This file can be used to launch an empty world with a turtlebot in it -->
<launch>	  
	<include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">	    
		<arg name="world_file" value="$(find turtlebot_gazebo)/worlds/empty.world"/>	    
		<arg name="gui" value="true"/>	  
	</include>	
</launch>